* { box-sizing: border-box; }

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

.cell {
  padding: 1em;
  border: thin solid gray;

}

#ruben-cuadrado{
			width: 100px;
			height: 100px;
			background: #FFFFFF;
			border-color: #FF622C;
			border-style: solid;
			border-radius: 25px;
		}

#ruben-cuadrado2{
    			width: 100px;
    			height: 100px;
    			background: #000000;
    			border-color: #2980b9;
    			border-style: solid;
    			border-radius: 25px;
    		}
